<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills Audit | Login</title>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/register.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/77f72af182.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="body">
    <nav>
        <div class="title">
        <h3 onclick="Home()">Skills Audit</h3> 
    </div>
    <div class="user-details">
        <div class="input-search">
            <input type="text" placeholder="Search"><button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        
        <div class="profile">
            <img src="img/profile.jpg" alt="">
        </div>

    </div>
    
    </nav>
<div class="container">
    <div class="form-registration">
        <div class="title-login">
            <h3>Registration</h3>
            <p>Create new user account to continue</p>
        </div>
        <div class="form-register">

      <div class="cont-input row">
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">EMPLOYEE NUMBER</label>
            <input type="text" class="form-control" id="employeenumber" placeholder="Employee number">
          </div>

          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">EMAIL ADDRESS</label>
            <input type="text" class="form-control" id="email" placeholder="Email address">
          </div>
      </div>
            
      <div class="cont-input row">
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">PASSWORD</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>

          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">REPEAT PASSWORD</label>
            <input type="password" class="form-control" id="repeatpassword" placeholder="Password">
          </div>
      </div>
       

        <button  type="button" class="btn  btn-dark" onclick="Register()">REGISTER NEW USER</button>
        <div class="row">
            <div class="col-md-7">
                <a href="/login">ALREADY HAVE AN ACCOUNT?</a>
            </div>
            <div class="col-md-5">
                <a href="forgot.html">FORGET PASSWORD?</a>
            </div>
        </div>
    </div>
    </div>

</div>
<!-- <script type="module">
   
  export {auth};
  </script> -->
<script  src="/javascript/register.js"></script>
</body>
</html>